# 1. Introduction

## Business Understanding

Water is critical to the health of people. In Tanzania, there's a population of 59 million. Four million of these people lack access to an improved water source and 29 million lack access to improved sanitation. As most of the country is arid or semi-arid, Tanzania's ground water(wells/waterpoints) is the main source of water for the people.

There are many waterpoints already established in the country. An NGO focused on improving Tanzania's water situation would like to be able to predict functional waterpoints, those that are functional and neeed repair and those that are completely non-functional. This would go a long way in trying to maintain the already existing water infrastructure to allow for better water access across the country improving people's quality of life.

## Data understanding

The data used in this analysis is downloaded from [DrivenData](https://www.drivendata.org/competitions/7/pump-it-up-data-mining-the-water-table/data/).The data comes from the Taarifa waterpoints dashboard, which aggregates data from the Tanzania Ministry of Water. It has the following information about the waterpoints:

- amount_tsh - Total static head (amount water available to waterpoint)
- date_recorded - The date the row was entered
- funder - Who funded the well
- gps_height - Altitude of the well
- installer - Organization that installed the well
- longitude - GPS coordinate
- latitude - GPS coordinate
- wpt_name - Name of the waterpoint if there is one
- num_private -  Private use or not
- basin - Geographic water basin
- subvillage - Geographic location
- region - Geographic location
- region_code - Geographic location (coded)
- district_code - Geographic location (coded)
- lga - Geographic location
- ward - Geographic location
- population - Population around the well
- public_meeting - True/False
- recorded_by - Group entering this row of data
- scheme_management - Who operates the waterpoint
- scheme_name - Who operates the waterpoint
- permit - If the waterpoint is permitted
- construction_year - Year the waterpoint was constructed
- extraction_type - The kind of extraction the waterpoint uses
- extraction_type_group - The kind of extraction the waterpoint uses
- extraction_type_class - The kind of extraction the waterpoint uses
- management - How the waterpoint is managed
- management_group - How the waterpoint is managed
- payment - What the water costs
- payment_type - What the water costs
- water_quality - The quality of the water
- quality_group - The quality of the water
- quantity - The quantity of water
- quantity_group - The quantity of water
- source - The source of the water
- source_type - The source of the water
- source_class - The source of the water
- waterpoint_type - The kind of waterpoint
- waterpoint_type_group - The kind of waterpoint

# 2. Data Cleaning

## Loading Data

In [50]:
# Importing libraries 
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

In [51]:
#Loading the Data

training_data = pd.read_csv('Data/Training set values.csv')
training_data_labels = pd.read_csv('Data/Training set labels.csv')

In [52]:
#Looking at the shape for training_data

print(f'Rows: {training_data.shape[0]} Columns:{training_data.shape[1]} ')

Rows: 59400 Columns:40

In [53]:
#Looking at the shape for training_data_labels
print(f'Rows: {training_data_labels.shape[0]} Columns:{training_data_labels.shape[1]} ')

Rows: 59400 Columns:2

In [54]:
#Merging the datasets on the common column id 

training_set = pd.merge(left = training_data, right = training_data_labels, on = 'id')

In [55]:
#Looking at the merged set

training_set.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

In [56]:
#Looking at the shape

training_set.shape

(59400, 41)

## Descriptive Statistics

In [57]:
#Statistics on numerical columns
training_set.describe().T

,count,mean,std,min,25%,50%,75%,max
id,59400.0,37115.131768,21453.128371,0.00000,18519.750000,37061.500000,55656.500000,7.424700e+04
amount_tsh,59400.0,317.650385,2997.574558,0.00000,0.000000,0.000000,20.000000,3.500000e+05
gps_height,59400.0,668.297239,693.116350,-90.00000,0.000000,369.000000,1319.250000,2.770000e+03
longitude,59400.0,34.077427,6.567432,0.00000,33.090347,34.908743,37.178387,4.034519e+01
latitude,59400.0,-5.706033,2.946019,-11.64944,-8.540621,-5.021597,-3.326156,-2.000000e-08
num_private,59400.0,0.474141,12.236230,0.00000,0.000000,0.000000,0.000000,1.776000e+03
region_code,59400.0,15.297003,17.587406,1.00000,5.000000,12.000000,17.000000,9.900000e+01
district_code,59400.0,5.629747,9.633649,0.00000,2.000000,3.000000,5.000000,8.000000e+01
population,59400.0,179.909983,471.482176,0.00000,0.000000,25.000000,215.000000,3.050000e+04
construction_year,59400.0,1300.652475,951.620547,0.00000,0.000000,1986.000000,2004.000000,2.013000e+03

## Handling missing values

We need to check for how complete the data is before performing analysis and preprocessing. If null values are present, we should find a way of handling them to ensure completeness of the data.

In [58]:
training_set.isna().sum()

id                           0
amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
status_group                 0
dtype: int64

A few columns have null values. The percentage of the amount  of missing values on these columns will have an impact on how we handle the missing data.

In [59]:
# Calculating the percentage of missing values on each column
null_percentage = pd.DataFrame(training_set.isna().sum()/len(training_set)*100)
null_percentage=null_percentage.rename(columns = {0:'Percentage'})
null_percentage = null_percentage[(null_percentage['Percentage'] > 0)]
null_percentage.sort_values(by = 'Percentage', ascending = False)

                   Percentage
scheme_name         47.417508
scheme_management    6.526936
installer            6.153199
funder               6.119529
public_meeting       5.612795
permit               5.144781
subvillage           0.624579

In [62]:
training_set[['scheme_management', 'installer', 'funder', 'public_meeting','permit','subvillage','scheme_name']]

,scheme_management,installer,funder,public_meeting,permit,subvillage,scheme_name
0,VWC,Roman,Roman,True,False,Mnyusi B,Roman
1,Other,GRUMETI,Grumeti,NaN,True,Nyamara,NaN
2,VWC,World vision,Lottery Club,True,True,Majengo,Nyumba ya mungu pipe scheme
3,VWC,UNICEF,Unicef,True,True,Mahakamani,NaN
4,NaN,Artisan,Action In A,True,True,Kyanyamisa,NaN
...,...,...,...,...,...,...,...
59395,Water Board,CES,Germany Republi,True,True,Kiduruni,Losaa Kia water supply
59396,VWC,Cefa,Cefa-njombe,True,True,Igumbilo,Ikondo electrical water sch
59397,VWC,NaN,NaN,True,False,Madungulu,NaN
59398,VWC,Musa,Malec,True,True,Mwinyi,NaN
59399,VWC,World,World Bank,True,True,Kikatanyemba,NaN

For any variable with missing values greater than 15% of the dataset, we will eliminate these variables. They may cause trouble during the machine learning process. `scheme_name` column has 47% of it's data missing so it will therefore be dropped.

In [63]:
#Dropping scheme_name

training_set.drop(columns = 'scheme_name', inplace = True)

We will fill the missing values of the other columns with the value missing as we cannot tell whether these were emission errors or an actual category to for example show that the value of a certain column was false.

In [66]:
#Filling in the missing values 

training_set.fillna(value = 'MISSING', inplace = True)